.App {
  text-align: center;
  margin-top: 195px;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  gap: 5px;
}

.input-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  place-content: space-between stretch;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  place-content: space-between stretch;
  flex: 1;
}

.form-label {
  display: flex;
  justify-content: flex-start;
}

input {
  width: 150px;
  display: flex;
  justify-content: flex-end;
}

.form-input {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.title {
  border-radius: 15px;
  background-color: #657186;
  text-align: center;
}

.center {
  background-color: #657186;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px 15px 25px 15px;
}

.left {
  background-color: #444c5b;
  border-radius: 15px;
  padding: 20px 35px 25px 35px;
  box-shadow: 4px 9px 8px 4px rgb(1, 1, 1);
  text-align: center;
}

.right {
  background-color: #444c5b;
  border-radius: 15px;
  box-shadow: 4px 9px 8px 4px rgb(1, 1, 1);
  height: 600px;
}

.shadow {
  box-shadow: 2px 2px 8px rgb(1, 1, 1);
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.text {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

/* === Reflexivity === */
@media (max-width: 910px) {
  .text {
    margin-top: 10px;
    font-size: 90%;
  }

  h1 {
    margin: 5px;
  }

  .center {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .left {
    padding: 20px 15px 15px 15px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    place-content: space-between stretch;
    flex: 1;
  }

  .form-label {
    display: flex;
    justify-content: flex-start;
  }

  input {
    width: 150px;
    display: flex;
    justify-content: flex-end;
  }

  .form-input {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  .right {
    height: 170px;
    display: flex;
    flex-direction: column
  }

  .shadow {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .App {
    margin: auto;
  }
}

@media (max-width: 550px) {
  .right {
    height: 140px;
    display: flex;
    flex-direction: column
  }
}