.App {
  text-align: center;
  margin-top: 425px;
}
.container {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  gap: 5px;
}
.center {
  background-color: #657186;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px 5px 5px 5px;
}

.left {
  background-color: #444c5b;
  border-radius: 15px;
}
.right {
  background-color: #444c5b;
  border-radius: 15px;
}
