/* MAIN CONTAINER  ============================= */
.App {
  width: 1500px;
  height: 960px;
  display: flex;
  background: #465b5d;
  flex-direction: column;
}

/* title CONTAINER  ========================== */
.titleContainer {
  width: 654px;
  height: 233px;
  background: #464242;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  box-shadow: 0px 9px 8px rgb(1, 1, 1);
  z-index: 1;
}

.directionsContainer {
  width: 611px;
  height: 50px;
  border-radius: 20px;
  background: #D9D9D9;
  margin: auto;
  box-shadow: 0px 9px 8px rgb(1, 1, 1);

}


/* food CONTAINER  ==========================*/
.foodContainer {
  width: 1400px;
  height: 915px;
  border-radius: 15px;
  background: #655757;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 9px 8px rgb(1, 1, 1);
}

.selectionContainer {
  /*LEFT BOX INSIDE */
  /* Food List */
  width: 573px;
  height: 454px;
  background: #D9D9D9;
  border-radius: 15px;
  margin: auto;

  box-shadow: 0px 9px 8px rgb(1, 1, 1);
}

.listContainer {
  /*Right BOX INSIDE */
  /* Selected Food*/
  width: 573px;
  height: 454px;
  background: #D9D9D9;
  border-radius: 15px;
  margin: auto;
  margin-right: 45px;
  margin-top: -20px;
  box-shadow: 0px 9px 8px rgb(1, 1, 1);
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  gap: 8px;
  align-items: center;
  text-align: center;

}

.round {
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgb(1, 1, 1);
}

.but {
  box-shadow: 0px 9px 8px rgb(1, 1, 1);
}



/* total CONTAINER  ===============================*/
.totalContainer {
  width: 535px;
  height: 176px;
  background: #464242;
  border-radius: 15px;
  margin: auto;
  align-items: left;
  text-align: left;
  display: flex;
  box-shadow: 0px 9px 8px rgb(1, 1, 1);

}

.subtotalContainer {
  width: 509px;
  height: 68px;
  background: #D9D9D9;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: -15px;
  box-shadow: 0px 9px 8px rgb(1, 1, 1);
}

.grandtotalContainer {
  width: 509px;
  height: 68px;
  background: #D9D9D9;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: -10px;
  box-shadow: 0px 9px 8px rgb(1, 1, 1);
}




/* Choose From The Following Selection 
    
    TEXT INFO*/
.directions-align {
  width: 806px;
  height: 63px;
  left: 310px;
  top: 117px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  color: #000000;
}

/* Food List */
.title-align {
  width: 390px;
  height: 107px;
  left: 518px;
  top: -8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 106px;
  /* identical to box height */
  text-align: center;
  color: #000000;
  margin: auto;
}

/* Subtotal: $9.99 */
.subtotal-align {
  width: 457px;
  height: 37px;
  left: 484px;
  top: 991px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin-top: -65px;
}


/* Grandtotal: $9.99 */
.grandtotal-align {
  width: 457px;
  height: 37px;
  left: 484px;
  top: 864px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin-top: -65px;
}

ul {
  list-style: none;
}