.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.module-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  gap: 60px;
  border-radius: 10px;
  border: 9px solid rgb(52, 166, 186);
  background-color: #3e4656;
  box-shadow: 2px 2px 8px 9px black;

  justify-content: center;
  align-items: center;
  color: rgb(70, 154, 92);
}
.robot-img {
  width: 300px;
  display: flex;
  border-radius: 25px;


  border: 9px solid red;
}
.robot-title {
  display: flex;
  font-size: 26px;
  border: 9px solid red;
}

.robot-speach {
  display: flex;
  border: 9px solid red;
  font-size: 20px;

}