.dice {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: lightgrey;
  border-radius: 10px;
  margin: auto;
}
.but {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: lightgrey;
  border-radius: 3px;
  margin: auto;
}

button:active {
  color: white;
}
button:hover {
  background-color: grey;
}